*{
    background: blue;
}


#mainContent{
    display:flex;
    flex-direction: column;
    background: gray;
    width: 200px;
    height: 200px;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.Header{
    display:flex;
    flex-direction: row;
    justify-self: center;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    color:gold;
    text-align: center;
    margin-bottom: 20px;
}

.playerZone{
    display:flex;
    flex-direction: column;
    background: gray;
    height: 300px;
}